<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="touch.forum.mapper.CommentMapper">

    <resultMap id="commentMap" type="touch.forum.entity.Comment">
        <result property="createAt" column="create_at"/>
    </resultMap>


    <select id="getCommentById" resultType="touch.forum.entity.Comment" resultMap="commentMap">
        select * from comment where id = #{id}
    </select>

    <insert id="create" parameterType="touch.forum.entity.Comment">
        insert into comment values (#{id},#{content},#{entityId},#{entityType},#{createAt},#{userId})
    </insert>

    <select id="getCommentByEntityId" resultType="touch.forum.entity.Comment" resultMap="commentMap">
        select * from comment where entity_id = #{entityId} and entity_type = #{entityType} order by id desc
    </select>

    <select id="getCommentCount" resultType="int">
        select count(id) from comment where entity_id = #{entityId} and entity_type = #{entityType}
    </select>

</mapper>