<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="touch.forum.mapper.QuestionMapper">

    <resultMap id="questionMap" type="touch.forum.entity.Question">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="createAt" column="create_at"/>
        <result property="commentCount" column="comment_count"/>

        <collection property="images"  ofType="touch.forum.entity.QuestionImage" column="image_url">
            <id property="id" column="image_id"/>
            <result property="quesionId" column="id" />
            <result property="imageUrl" column="image_url"/>
        </collection>

    </resultMap>

    <insert id="create" parameterType="touch.forum.entity.Question" useGeneratedKeys="true" keyProperty="id">
        insert into question (title,content, user_id, create_at, comment_count, image_url)
        values (#{title},#{content},#{userId},#{createAt},#{commentCount}, #{imageUrl});
    </insert>

    <insert id="insertImage" parameterType="touch.forum.entity.QuestionImage" useGeneratedKeys="true" keyProperty="id">
            insert into question_image (question_id, image_url)
            values (#{quesionId}, #{imageUrl})
    </insert>

    <select id="getQuestionByUserId" resultType="touch.forum.entity.Question" resultMap="questionMap">
        select * from question where user_id = #{userId} order by id desc
    </select>

    <select id="getAllQuestions" resultType="touch.forum.entity.Question" resultMap="questionMap">
        select q.id, q.title, q.content, q.user_id, q.create_at, q.comment_count, i.image_url, i.id as image_id
        from question q
        left join question_image i on q.id = i.question_id
        order by id desc
    </select>

    <select id="getQuestionById" resultType="touch.forum.entity.Question" resultMap="questionMap">
        select q.id, q.title, q.content, q.user_id, q.create_at, q.comment_count, i.image_url, i.id as image_id
        from question q
        left join question_image i on q.id = i.question_id
        where q.id = #{qid}
    </select>

    <update id="update" parameterType="touch.forum.entity.Question">
        update question set comment_count = #{commentCount} where id = #{id}
    </update>



</mapper>