<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="touch.forum.mapper.UserMapper">

    <resultMap id="userMap" type="touch.forum.entity.User">
        <result property="headUrl" column="head_url"/>
        <result property="targetCompany" column="target_company"/>
        <result property="targetJob" column="target_job"/>
        <result property="firstLogin" column="first_login"/>
    </resultMap>

    <insert id="addUser" parameterType="touch.forum.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (id, name, password, salt, head_url, first_login)values (#{id},#{name},#{password},#{salt},#{headUrl},#{firstLogin});
    </insert>

    <select id="getUserById" parameterType="int" resultType="touch.forum.entity.User" resultMap="userMap">
        select * from user where id = #{id}
    </select>

    <select id="getUserByName" parameterType="String" resultType="touch.forum.entity.User" resultMap="userMap">
        select * from user where name = #{name}
    </select>

    <select id="findAll" resultType="touch.forum.entity.User" resultMap="userMap">
        select * from user where longitude is not null
    </select>

    <select id="getUserByIds" resultType="touch.forum.entity.User" resultMap="userMap">
        select * from user where id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <update id="updateUser" parameterType="touch.forum.entity.User">
        UPDATE user SET head_url=#{headUrl} where id = #{id}
    </update>

    <update id="updateUserLocation" parameterType="touch.forum.entity.User">
        UPDATE user SET longitude=#{longitude}, latitude = #{latitude} where id = #{id}
    </update>

    <update id="updateUserNotFirstLogin" >
        UPDATE user SET first_login =0 where name = #{name}
    </update>

    <update id="updateUserInfo" parameterType="touch.forum.entity.User">
        UPDATE user
        SET gender = #{gender}, email = #{email}, birthday= #{birthday},
        university = #{university}, major = #{major},
        target_company = #{targetCompany}, target_job=#{targetJob}
        where id = #{id}
    </update>

</mapper>